einops==0.8.1
fairseq>=0.12.2
librosa==0.9.2
numpy==1.23.3
pandas==2.2.3
pytorch_lightning==2.3.2
PyYAML==6.0.2
rich==13.9.4
scipy==1.15.1
speechbrain==1.0.0
torch
torchaudio
tqdm==4.67.1
transformers==4.45.2
